/* Styles for Small Devices (Mobile) */
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px; /* Example adjustment for smaller font size */
  }
  #header, #wrapper {
    width: 100%; /* Adjust container width to full width */
    margin-left: 0;
    margin-right: 0;
  }
  .workout-img {
    width: 35vw; /* Example adjustment for smaller image size */
    
    margin: 1px;
    
  }
  h3 {
    font-size: 24px; /* Example adjustment for smaller font size */
    color: #1481BA;
  }
  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: pt;
  }
  #workout-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin : 10px;
  }
  #level-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .level-button{
    border : 1px solid #1481BA;
    color : #1481BA;
    background-color: transparent;
    padding : 10px
  }
  .level-button:hover {
    background-color: #1481BA; /* Flip background color on hover */
    color: white; /* Flip text color on hover */
  }
  .exercise-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: transparent;
    box-shadow: 3px 5px 5px 5px lightgray;
    margin: 5px;
    padding: 5px;
    text-align: center;
  }
}

/*------------------------------------------------------------------------------*/
/* Styles for Medium Devices (Tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 16px; /* Example adjustment for medium font size */
  }
  #header, #wrapper {
    width: 80%; /* Adjust container width to 80% */
  }
}



/*------------------------------------------------------------------------------*/
/* Styles for Large Devices (Desktops and Larger Screens) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 18px; /* Example adjustment for larger font size */
  }
  #header, #wrapper {
    width: 70%; /* Adjust container width to 70% */
  }
}
